service: biztechApi-events
tenant: ianmh
app: biztechapp

plugins:
  - serverless-dynamodb
  - serverless-offline
  - serverless-domain-manager
  - serverless-bundle
  - serverless-prune-plugin
  - serverless-mocha-plugin

provider:
  name: aws
  stage: ${file(../../serverless.common.yml):provider.stage}
  runtime: ${file(../../serverless.common.yml):provider.runtime}
  region: ${file(../../serverless.common.yml):provider.region}
  cfLogs: true
  environment:
    ENVIRONMENT: ${file(../../config.${self:provider.stage}.json):ENVIRONMENT}
    NODE_ENV: ${env:NODE_ENV}
  timeout: 15 # in seconds
  apiGateway:
    restApiId: !ImportValue ${self:provider.stage}-ExtApiGatewayRestApiId
    restApiRootResourceId: !ImportValue ${self:provider.stage}-ExtApiGatewayRestApiRootResourceId

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechEvents${self:provider.environment.ENVIRONMENT}"
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechEvents${self:provider.environment.ENVIRONMENT}/index/event-overview"
    - Effect: Allow
      Action:
        - dynamodb:Query
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechRegistrations${self:provider.environment.ENVIRONMENT}/index/event-query"
    - Effect: Allow
      Action:
        - dynamodb:BatchGetItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechUsers${self:provider.environment.ENVIRONMENT}"
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:GetObject
      Resource:
        - arn:aws:s3:::biztech-event-images/*


custom: ${file(../../serverless.common.yml):custom}

functions:
  eventCreate:
    handler: handler.create
    events:
      - http:
          path: events/
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  eventDelete:
    handler: handler.del
    events:
      - http:
          path: events/{id}/{year}
          method: delete
          request:
            path:
              year: true
              id: true
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  eventGetAll:
    handler: handler.getAll
    events:
      - http:
          path: events/
          method: get
          request:
            parameters:
              querystrings:
                id: false
                year: false
          cors: true
  eventUpdate:
    handler: handler.update
    events:
      - http:
          path: events/{id}/{year}
          method: patch
          request:
            path:
              id: true
              year: true
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  eventGet:
    handler: handler.get
    events:
      - http:
          path: events/{id}/{year}
          method: get
          request:
            parameters:
              path:
                id: true
                year: true
              querystrings:
                count: false
                users: false
          cors: true
  eventGetActiveEvent:
    handler: handler.getActiveEvent
    events:
      - http:
          path: events/getActiveEvent
          method: get
          cors: true
  createEventImageUploadUrl:
    handler: handler.createThumbnailPicUploadUrl
    events:
      - http:
          path: events/event-image-upload-url
          method: post
          cors:
            origins:
              - http://localhost:3000
              - https://app.ubcbiztech.com
              - https://dev.app.ubcbiztech.com
            headers:
              - Content-Type
              - Authorization
              - X-Amz-Date
              - X-Amz-Security-Token
              - X-Requested-With
            allowCredentials: false
            methods:
              - OPTIONS
              - POST
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}


