service: biztechApi-team
tenant: ianmh
app: biztechapp

plugins:
  - serverless-dynamodb
  - serverless-offline
  - serverless-domain-manager
  - serverless-bundle
  - serverless-prune-plugin
  - serverless-mocha-plugin

provider:
  name: aws
  stage: ${file(../../serverless.common.yml):provider.stage}
  runtime: ${file(../../serverless.common.yml):provider.runtime}
  region: ${file(../../serverless.common.yml):provider.region}
  cfLogs: true
  environment:
    ENVIRONMENT: ${file(../../config.${self:provider.stage}.json):ENVIRONMENT}
    NODE_ENV: ${env:NODE_ENV}
  apiGateway:
    restApiId: !ImportValue ${self:provider.stage}-ExtApiGatewayRestApiId
    restApiRootResourceId: !ImportValue ${self:provider.stage}-ExtApiGatewayRestApiRootResourceId

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechTeams${self:provider.environment.ENVIRONMENT}"
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechRegistrations${self:provider.environment.ENVIRONMENT}"
    - Effect: Allow
      Action:
        - dynamodb:GetItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechUsers${self:provider.environment.ENVIRONMENT}"
    - Effect: Allow
      Action:
        - dynamodb:GetItem
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/biztechEvents${self:provider.environment.ENVIRONMENT}"
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/bizJudge${self:provider.environment.ENVIRONMENT}"
        - "arn:aws:dynamodb:us-west-2:432714361962:table/bizJudge${self:provider.environment.ENVIRONMENT}/index/*"
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - "arn:aws:dynamodb:us-west-2:432714361962:table/bizFeedback${self:provider.environment.ENVIRONMENT}"
        - "arn:aws:dynamodb:us-west-2:432714361962:table/bizFeedback${self:provider.environment.ENVIRONMENT}/index/*"

custom: ${file(../../serverless.common.yml):custom}

functions:
  updateTeamPoints:
    handler: handler.updateTeamPoints
    events:
      - http:
          path: team/points
          method: put
          cors: true
  addMultipleQRScans:
    handler: handler.addMultipleQuestions
    events:
      - http:
          path: team/addQuestions
          method: put
          cors: true
  joinTeam:
    handler: handler.joinTeam
    events:
      - http:
          path: team/join
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  leaveTeam:
    handler: handler.leaveTeam
    events:
      - http:
          path: team/leave
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  makeTeam:
    handler: handler.makeTeam
    events:
      - http:
          path: team/make
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${cf:biztechApi-${file(../../serverless.common.yml):provider.stage}.CognitoAuthorizer}
  getTeamFromUserID:
    handler: handler.getTeamFromUserID
    events:
      - http:
          path: team/getTeamFromUserID
          method: post
          cors: true
  teamsGetAll:
    handler: handler.get
    events:
      - http:
          path: team/{eventID}/{year}
          request:
            path:
              eventID: true
              year: true
          method: get
          cors: true
  changeTeamName:
    handler: handler.changeTeamName
    events:
      - http:
          path: team/changeTeamName
          method: post
          cors: true
  getNormalizedRoundScores:
    handler: handler.getNormalizedRoundScores
    events:
      - http:
          path: team/scores-all
          method: get
          cors: true
  getTeamFeedback:
    handler: handler.getTeamFeedbackScore
    events:
      - http:
          path: team/feedback/{teamID}
          request:
            path:
              teamID: true
          method: get
          cors: true
  getJudgeCurrentTeam:
    handler: handler.getJudgeCurrentTeam
    events:
      - http:
          path: team/judge/currentTeamID/{judgeID}
          request:
            path:
              judgeID: true
          method: get
          cors: true
  getJudgeSubmissions:
    handler: handler.getJudgeSubmissions
    events:
      - http:
          path: team/judge/feedback/{judgeID}
          request:
            path:
              judgeID: true
          method: get
          cors: true
  createJudgeSubmissions:
    handler: handler.createJudgeSubmissions
    events:
      - http:
          path: team/judge/feedback
          method: post
          cors: true
  updateJudgeSubmission:
    handler: handler.updateJudgeSubmission
    events:
      - http:
          path: team/judge/feedback
          method: put
          cors: true
  updateCurrentTeamForJudge:
    handler: handler.updateCurrentTeamForJudge
    events:
      - http:
          path: team/judge/currentTeam/{teamID}
          request:
            path:
              teamID: true
          method: put
          cors: true
  getCurrentRound:
    handler: handler.getCurrentRound
    events:
      - http:
          path: team/round
          method: get
          cors: true
  setCurrentRound:
    handler: handler.setCurrentRound
    events:
      - http:
          path: team/round/{round}
          request:
            path:
              round: true
          method: put
          cors: true
